.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

:global(.ui.modal .actions .ui.button + .ui.button) {
  margin: unset;
}

.modal:global(.ui.modal > .content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 50px;
}
