.NFTListPage .ui.container {
  display: flex;
}

.NFTListPage .left-column {
  margin-top: 16px;
}

.NFTListPage .right-column {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.NFTListPage .ui.cards {
  margin-top: 0px;
  position: relative;
  height: 100%;
}

.NFTListPage .ui.loader {
  top: 140px;
}

.NFTListPage .right-column .ui.toggle.checkbox label {
  color: var(--secondary-text);
  font-size: 14px;
  margin-right: 24px;
}

.NFTListPage .ui.toggle.checkbox label,
.NFTListPage .ui.dropdown > .text {
  text-transform: uppercase;
}

.NFTListPage .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--background);
  opacity: 0.6;
}

.NFTListPage .load-more {
  text-align: center;
  margin-top: 36px;
}

.NFTListPage .empty {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text);
}

/* @nico: TODO: Move this to a common stylesheet? */
.NFTListPage.dcl.page > .ui.container {
  min-height: calc(
    100vh - var(--navbar-height) - var(--footer-height) -
      var(--navbar-margin-bottom) - var(--footer-margin-top) - 1px
  );
}

.NFTListPage .results {
  margin: 0px;
}

.NFTListPage .filters {
  padding: 16px;
  background-color: var(--card);
  border-radius: 16px;
  margin-bottom: 32px;
  user-select: none;
  outline: none;
  padding-bottom: 8px;
  margin-top: -8px;
}

.NFTListPage .open-filters-wrapper {
  display: inline-block;
  height: 15px;
  margin-left: 24px;
  position: relative;
  cursor: pointer;
}

.NFTListPage .open-filters-wrapper .label {
  color: var(--primary);
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 500;
}

.NFTListPage .open-filters {
  width: 20px;
  height: 20px;
  background-image: url(../../images/filters.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;

  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.NFTListPage .open-filters.active {
  background-image: url(../../images/filters-active.svg);
  background-size: 20px;
}

.FiltersModal .CategoriesMenu ul.menu li:hover,
.FiltersModal .CategoriesMenu ul.menu li.active {
  background-color: var(--secondary-on-modal);
}

.FiltersModal .filter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.FiltersModal .CategoriesMenu {
  width: 100%;
}

.FiltersModal .CategoriesMenu ul.menu {
  width: calc(100% + 16px);
}

.FiltersModal .CategoriesMenu ul.menu li {
  width: calc(100% + 16px);
}

.FiltersModal .CategoriesMenu ul.menu li.sub {
  width: calc(100% + 0px);
}

.FiltersModal.ui.modal .dcl.close {
  position: absolute;
  right: 24px !important;
  top: 24px !important;
}

@media (max-width: 768px) {
  .CategoriesMenu ul.menu li {
    width: calc(100% - 32px);
  }
  .NFTListPage .filters {
    margin-top: 0px;
  }
}
