.main {
  border-radius: 12px;
  margin-bottom: 12px;
  background: rgba(42, 38, 47);
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container:empty {
  display: none;
}
