.ParcelTags {
  display: flex;
}

.ParcelTags .coords {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #37333d;
  font-size: 12px;
  line-height: 14px;
  color: white;
  padding: 4px 8px;
}

.ParcelTags .coords .pin {
  background-image: url(../../../images/pin-mini.svg);
  width: 7px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
  background-size: contain;
}

.ParcelTags .tag {
  width: 22px;
  height: 22px;
  margin-left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

.ParcelTags .tag.plaza {
  background-image: url(../../../images/plaza.svg);
}

.ParcelTags .tag.road {
  background-image: url(../../../images/road.svg);
}

.ParcelTags .tag.district {
  background-image: url(../../../images/district.svg);
}
