.TransactionDetail {
  margin-bottom: 24px;
}

.TransactionDetail .left {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.TransactionDetail .right {
  display: flex;
  align-items: center;
  flex: none;
  margin-left: 16px;
}

.TransactionDetail .left div.image {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex: none;
  margin-right: 16px;
}

.TransactionDetail .left .image .dcl.mana .symbol .ethereum,
.TransactionDetail .left .image .dcl.mana .symbol .matic {
  font-size: 48px;
  height: 48px;
  padding-top: 10px;
  margin-left: 2px;
  margin-top: -8px;
  display: flex;
  width: 44px;
}

.TransactionDetail .left .image .dcl.mana .matic {
  width: 41px;
  background-repeat: no-repeat;
  margin-top: -9px;
  margin-left: 1px;
}

.TransactionDetail .left .text {
  display: flex;
  align-items: baseline;
  overflow: hidden;
}

.TransactionDetail .left .text .description {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TransactionDetail .left .description .dcl.blockie {
  margin-left: 3px;
}

.TransactionDetail .left .text .timestamp {
  color: var(--secondary-text);
  margin-left: 8px;
}

.TransactionDetail .right .status {
  display: flex;
  color: var(--secondary-text);
}

.TransactionDetail .right .status .description {
  text-transform: capitalize;
}

.TransactionDetail .right .status .description + * {
  margin-left: 8px;
}

.TransactionDetail .right .status.confirmed,
.TransactionDetail .right .status.replaced {
  color: var(--neon-blue);
}

.TransactionDetail .right .status.reverted {
  color: var(--danger);
}

.TransactionDetail .right .status .spinner {
  position: relative;
  width: 20px;
  height: 16px;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .TransactionDetail .right .status .description,
  .TransactionDetail .left .text .timestamp {
    display: none;
  }
}
