.filterBar {
  z-index: 1;
  position: relative;
  display: flex;
}

.mapToggle {
  margin-left: 10px;
  display: flex;
}

.mapToggle.map {
  top: 0;
  right: 0;
  background: var(--background);
  border-radius: 4px;
  margin-right: 20px;
  height: auto;
}

.filterBar :global(.Chip) {
  min-height: 32px;
  display: flex;
  align-items: center;
}

.filterBar :global(.Chip.grid) {
  border-radius: 4px 0 0 4px;
}

.filterBar :global(.Chip.atlas) {
  border-radius: 0 4px 4px 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: #16141a;
  width: fit-content;
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 10px;
}

@media (max-width: 990px) {
  .filterBar {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .mapToggle {
    background: #16141a;
    border-radius: 4px;
  }

  .filtersIcon {
    width: 12px;
    height: 12px;
    background-image: url(../../../images/filters.svg);
    filter: brightness(0) invert(1);
    display: block;
    background-size: cover;
  }

  .filterBar :global(.ui.button.primary).filtersButton {
    min-width: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .filtersMobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  :global(.ui.popup).filtersPopup {
    padding: 20px;
    background: #16141a;
  }

  :global(.ui.bottom.popup).filtersPopup:before {
    background: #16141a;
  }
}
