.filterBar {
  z-index: 1;
  position: relative;
  display: flex;
}

.mapToggle {
  margin-left: 10px;
  display: flex;
}

.mapToggle.map {
  top: 0;
  right: 0;
  background: var(--background);
  border-radius: 4px;
  margin-right: 20px;
  height: auto;
}

.filterBar :global(.Chip) {
  min-height: 32px;
  display: flex;
  align-items: center;
}

.filterBar :global(.Chip.grid) {
  border-radius: 4px 0 0 4px;
}

.filterBar :global(.Chip.atlas) {
  border-radius: 0 4px 4px 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: #16141A;
  width: fit-content;
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 10px;
}

@media (max-width: 990px) {
  .countText {
    max-width: 160px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mapToggle {
    top: 13px;
  }

  .selectedFiltersContainer {
    display: flex;
    align-items: baseline;
    padding: 16px 0;
    margin-bottom: 6px;
    flex-wrap: wrap;
  }

  .clearFilters {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 0;
  }

  .assetTopbar {
    margin-bottom: 0;
  }

  .assetTopbar .infoRow {
    margin-bottom: 10px;
  }
}
