.MarketPage > .ui.container {
  display: flex;
  flex-direction: row;
}

.MarketPage .menu-column {
  flex: none;
  margin-right: 24px;
}

.MarketPage .orders-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.MarketPage .ui.cards {
  margin-top: 0px;
  position: relative;
  height: 100%;
}

.MarketPage .ui.pagination {
  margin-top: 42px;
}

.MarketPage .ui.dropdown > .text {
  text-transform: uppercase;
}

.MarketPage ul.menu {
  padding: 0px;
}
.MarketPage ul.menu li {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2;
  list-style: none;
  padding: 9px 16px;
  margin-bottom: 8px;
  width: 248px;
  cursor: pointer;
  border-radius: 8px;
}

.MarketPage ul.menu li.sub {
  color: var(--secondary-text);
  margin-left: 16px;
  width: 226px;
}

.MarketPage ul.menu li:hover,
.MarketPage ul.menu li.active {
  color: white;
  font-weight: 600;
  background-color: var(--card);
}

.MarketPage .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--background);
  opacity: 0.6;
}
