.MarketPage > .ui.container {
  display: flex;
}

.MarketPage .right-column {
  height: 100%;
  width: 100%;
}

.MarketPage .ui.cards {
  margin-top: 0px;
  position: relative;
  height: 100%;
}

.MarketPage .ui.pagination {
  margin-top: 42px;
}

.MarketPage .ui.dropdown > .text {
  text-transform: uppercase;
}

.MarketPage .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--background);
  opacity: 0.6;
}

.MarketPage .load-more {
  text-align: center;
  margin-top: 36px;
}

/* @nico: TODO: Move this to a common stylesheet? */
.MarketPage.dcl.page > .ui.container {
  min-height: calc(
    100vh - var(--navbar-height) - var(--footer-height) -
      var(--navbar-margin-bottom) - var(--footer-margin-top) - 1px
  );
}
