.tableContainer .supply {
  color: var(--secondary-text);
}

.tableContainer .ownerButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tableContainer .filtertabsContainer {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
  border-bottom: 1px solid var(--divider);
  padding-left: 20px;
}

.tableContainer .filtertabsContainer .dcl.tab {
  padding: 0px;
  height: 46px;
  align-items: center;
  margin-top: 22px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 48px;
  background-color: var(--secondary);
}

.tableContainer .sortByDropdown {
  border-radius: 12px;
  margin-right: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.tableContainer .filtertabsContainer .ui.dropdown {
  display: flex;
  align-items: center;
  font-size: 13px;
  position: absolute;
  right: 20px;
}

.tableContainer .filtertabsContainer .ui.dropdown > .icon {
  height: 100%;
  display: flex;
  align-items: center;
}

.tableContainer .tabStyle {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .tableContainer :global(.ui.button.basic) {
    text-align: left;
  }

  .tableContainer .filtertabsContainer {
    flex-direction: column;
    padding: unset;
  }

  .tableContainer .tabStyle {
    padding-left: unset;
  }

  .tableContainer .filtertabsContainer .ui.dropdown {
    position: relative;
    left: 0;
    margin: 16px 12px 16px 0px;
    align-self: flex-end;
  }
  .tableContainer {
    margin-top: 16px;
  }
  .tableContainer .ui.very.basic.table tr th,
  .tableContainer .ui.very.basic.table tr td {
    width: 50% !important; /* 2 columns, needs to be overridden with the !important since the library uses it too */
  }
}
