.page {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .header:global(.ui.header) {
    margin-left: 16px;
  }
}

.subHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.subHeader .right {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.subHeader .left {
  font-size: 17px;
}

.cards:global(.ui.cards) {
  flex: 1 1 auto;
  margin: 0px;
}
