.summaryContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--secondary-text);
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.summaryRow {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  align-items: center;
}

.skeleton {
  flex-shrink: 0;
  background: var(--dcl-pale-black, #43404a);
  margin-right: 16px;
  background: linear-gradient(90deg, #43404a 25%, #63616d 50%, #43404a 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
  border-radius: 4px;
}

.exchangeSkeleton {
  width: 167px;
  height: 16px;
  margin-left: 6px;
}

.composeSkeletonConatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shortSkeleton {
  width: 60px;
  height: 16px;
  margin-right: 0;
}

.longSkeleton {
  width: 167px;
  height: 16px;
  margin-left: 8px;
}
