.content {
  padding-left: 24px;
  padding-right: 24px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detailTitle {
  font-weight: 400;
  font-size: 17px;
  color: var(--primary-text)
}

.detailContent {
  color: #979797
}

.type {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
