@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeletonContainer {
  display: flex;
  align-items: center;
  padding: 8px;
}

.skeletonDataContainer {
  display: flex;
  flex-direction: column;
}

.assetImageSkeleton {
  width: 30px;
  height: 30px;
  flex-shrink: 0;

  background: #efeef2;
  margin-right: 16px;
  background: linear-gradient(90deg, #efeef2 25%, #e2e0e7 50%, #efeef2 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
}

.assetImageSkeleton.rectangle {
  border-radius: 5px;
}

.assetImageSkeleton.circle {
  border-radius: 35px;
}

.itemNameSkeleton {
  width: 105px;
  height: 17px;
  background: #efeef2;
  margin-bottom: 6px;
  background: linear-gradient(90deg, #efeef2 25%, #e2e0e7 50%, #efeef2 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
}

.creatorSkeleton {
  width: 126px;
  height: 7px;
  background: #efeef2;
  background: linear-gradient(90deg, #efeef2 25%, #e2e0e7 50%, #efeef2 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
}
