.Navigation .mvmf-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../../images/rabbit.svg);
  background-size: cover;
}

.Navigation .mvmf-tab {
  background: linear-gradient(45deg, #92efeb, #bfffdc, #f7ffdc, #ecc8ff);
  background-size: 30% 30%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: AnimationName 5s ease-out infinite;
  -moz-animation: AnimationName 5s ease-out infinite;
  animation: AnimationName 5s ease-out infinite;
}

.Navigation .download-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 6px;
  background-image: url(../../images/download.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.Navigation .dcl.tabs .ui.container {
  display: flex;
}

.Navigation .dcl.tabs .dcl.tabs-right {
  display: flex;
  align-items: center;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
