.ActivityBell.item {
  margin-right: 24px;
}

.ActivityBell.item .bell {
  color: var(--text);
  position: relative;
  cursor: pointer;
}

.ActivityBell.item.active .bell {
  color: var(--primary);
}

.ActivityBell.item .bell.pending:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 100%;
  top: -5px;
  right: -5px;
}

.dcl.navbar .dcl.user-menu .menu .item {
  color: var(--text);
}

.dcl.navbar .dcl.user-menu .menu .item .icon.cog {
  font-size: 13px;
  height: 18px;
  margin-right: 10px;
}
