.assetTopbar {
  margin-bottom: 20px;
  position: relative;
}

.searchContainer :global(.dcl.field.full) {
  flex: 1;
}

.assetTopbar :global(.dcl.field.full) :global(.ui.input).searchField input {
  background: var(--secondary);
  font-size: 17px;
  border-radius: 10px;
}

.assetTopbar
  :global(.dcl.field.full)
  :global(.ui.input).searchField
  input:not(:focus) {
  border: 2px solid #979797;
  border-radius: 10px;
}

.assetTopbar :global(.dcl.field.full) {
  min-width: unset;
}

.assetTopbar.land {
  display: flex;
}

.assetTopbar .infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  min-height: 26px;
}

.assetTopbar :global(.dcl.field .ui.input .icon) {
  color: white;
  left: 8px;
  opacity: 1;
}

.assetTopbar :global(.dcl.field .message) {
  display: none;
}

.mapToggle {
  margin-left: 10px;
  display: flex;
}

.mapToggle.map {
  top: 0;
  right: 0;
  background: var(--background);
  border-radius: 4px;
  margin-right: 20px;
  height: auto;
}

.assetTopbar :global(.Chip) {
  min-height: 52px;
  display: flex;
  align-items: center;
}

.assetTopbar :global(.Chip.grid) {
  border-radius: 4px 0 0 4px;
}

.assetTopbar :global(.Chip.atlas) {
  border-radius: 0 4px 4px 0;
}

.countText {
  color: white;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 17px;
  height: 100%;
}

.countContainer {
  display: flex;
  align-items: baseline;
}

.clearFilters {
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  align-items: center;
  display: flex;
  gap: 6px;
}

.rightOptionsContainer :global(.ui.dropdown) {
  display: flex;
  align-items: center;
}

.clearFilters:hover {
  opacity: 0.8;
}

.rightOptionsContainer {
  display: flex;
  margin-left: auto;
}

.openFiltersWrapper {
  display: flex;
  position: relative;
  cursor: pointer;
}

.openFilters {
  width: 20px;
  height: 20px;
  background-image: url(../../images/filters.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 24px;
}

.openFilters.active {
  background-image: url(../../images/filters-active.svg);
  background-size: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}

.searchContainer :global(.dcl.close) {
  background: transparent;
  position: absolute;
  right: 12px;
}

.searchContainer.searchMap {
  align-self: flex-end;
  background-color: #16141a;
  width: fit-content;
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 24px;
  border-radius: 10px;
}

.searchContainer :global(.Chip) {
  min-height: 52px;
}

.searchContainer.searchMap .mapToggle {
  margin: 0;
}

.searchContainer.searchMap :global(.Chip) {
  min-height: 32px;
}

.selectedFiltersContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 990px) {
  .countText {
    max-width: 160px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mapToggle {
    top: 13px;
  }

  .selectedFiltersContainer {
    display: flex;
    padding: 16px 0;
    margin-bottom: 6px;
  }

  .clearFilters {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 0;
  }

  .assetTopbar {
    margin-bottom: 0;
  }

  .assetTopbar .infoRow {
    margin-bottom: 10px;
  }
}
