.modalContainer {
  padding: 45px 32px;
  width: 100%;
  max-width: 580px;
}

.header {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 48px;
  margin-top: 0;
}

.contractName {
  color: var(--primary)
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

:global(.ui.button).closeButton::before {
  content: url(../../../../images/simple_close.svg);
  width: 16px;
  height: 16px;
}
