.BuyPage .ui.header {
  margin-bottom: 8px;
}

.BuyPage .subtitle-wrapper {
  margin-bottom: 32px;
}

.BuyPage .buttons {
  margin-top: 32px;
}

.BuyPage .error {
  color: var(--danger);
}

.BuyPage .buttons.with-mana .ui.button {
  min-width: 180px;
}

.BuyPage .card-payments-explanation {
  margin-top: 24px;
  max-width: 480px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.BuyPage .card-payments-explanation .explanation {
  color: var(--secondary-text);
}

.BuyPage .card-payments-explanation .regions {
  text-decoration: underline;
}

.BuyPage .card-payments-explanation a {
  color: #a6a0b0;
  text-decoration: underline;
}

.buy-nft-with-card-error .ui.button.basic {
  padding-left: 0px;
}
