.BuyPage .ui.header {
  margin-bottom: 8px;
}

.BuyPage .subtitle-wrapper {
  margin-bottom: 32px;
}

.BuyPage .buttons {
  margin-top: 32px;
}

.BuyPage .error {
  color: var(--danger);
}

.BuyPage .buttons.with-mana .ui.button {
  min-width: 180px;
}

.BuyPage .card-payments-explanation {
  margin-top: 24px;
  max-width: 480px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.BuyPage .card-payments-explanation .explanation {
  color: var(--secondary-text);
}

.BuyPage .card-payments-explanation .regions {
  text-decoration: underline;
}

.BuyPage .card-payments-explanation a {
  color: #a6a0b0;
  text-decoration: underline;
}

.buy-nft-with-card-error .ui.button.basic {
  padding-left: 0px;
}

.network-warning {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #44404B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.network-warning .title {
  font-weight: bold;
}

.network-warning .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.network-warning .description .ui.header.title {
  margin: 0 0 5px 0;
}

.network-warning .description .warning-icon {
  margin-right: 20px;
}

.network-warning .action {
  width: 30%;
  display: flex;
  align-items: center;
}

.network-warning .description a {
  color: var(--primary-text) !important;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .network-warning {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }

  .network-warning .description {
    width: 100%;
  }
  .network-warning .description .ui.header.title {
    line-height: normal;
  }

  .network-warning .action {
    width: 100%;
    margin-top: 15px;
    justify-content: center;
  }
}