.EmoteDetail {
  display: flex;
  flex-direction: column;
}

.EmoteDetail .actionsContainer {
  width: 521px;
}

.EmoteDetail .assetImageContainer {
  height: 602px;
}

.EmoteDetail .assetImageContainer :global(.AssetImage) {
  border-radius: 12px;
  overflow: hidden;
}

.EmoteDetail :global(.AvailableForMintPopup) {
  bottom: 64px;
  right: 12px;
}

.EmoteDetail .badges {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.EmoteDetail .wearableInformation {
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.EmoteDetail .wearableInformationContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  margin-top: 25px;
}

.issued {
  color: var(--secondary-text);
}

.EmoteDetail .attributesRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
  word-wrap: break-word;
  word-break: break-all;
}

.EmoteDetail .attributesColumn {
  flex-basis: 100%;
}

@media (max-width: 768px) {
  .EmoteDetail .attributesRow {
    flex-direction: column;
    gap: 20px;
  }
  .EmoteDetail :global(.dcl.stats) {
    margin: 0px;
    width: 100%;
  }
  .EmoteDetail :global(.dcl.tabs.fullscreen) {
    padding-left: 21px;
    margin: 0;
    border-bottom: 1px solid var(--divider);
  }
  .EmoteDetail :global(.filtertabsContainer .dcl.tab) {
    height: unset;
    margin-bottom: 22px;
  }
  .EmoteDetail .wearableInformationContainer {
    flex-direction: column;
  }
  .EmoteDetail :global(.AvailableForMintPopup) {
    right: 0;
    bottom: -110px;
  }
  .EmoteDetail .assetImageContainer :global(.AssetImage) {
    overflow: visible;
  }
  .EmoteDetail .assetImageContainer {
    height: 100%;
  }
  .EmoteDetail .actionsContainer {
    width: 100%;
  }
  .EmoteDetail .assetImageContainer :global(.AssetImage .rarity-background) {
    border-radius: 12px;
  }
}
