.box {
  display: flex;
  flex-direction: column;
  background: #242129;
  border-radius: 12px;
  padding: 24px;
  margin-top: 24px;
}

.title {
  margin: unset !important;
  font-weight: 500;
  font-size: 21px;
}

.action {
  color: var(--primary);
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 68px;
}

.columnHeader {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #736E7D;
  padding-bottom: 4px;
}

.columnContent {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: var(--primary-text);
  width: 100%;
  display: flex;
  align-items: top;
}

.date {
  margin-top: 5px;
  color: #736E7D;
  font-size: 18px;
}

.listForRent:global(.ui.button) {
  border: 1px solid var(--gray);
  padding: 7px 15px;
  min-width: unset;
  color: var(--primary);
}

.listForRent:global(.ui.button):hover {
  color: var(--primary)
}

.notShrink {
  flex: 1 0 auto;
}