.IconBadge {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #37333d;
}

.IconBadge .text {
  font-size: 13px;
}

.IconBadge .icon {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.IconBadge .custom-icon {
  margin-right: 10px;
}

/* Icons */

.IconBadge .BaseMale {
  background-image: url(../../../images/wearables/MaleIcon.svg);
}

.IconBadge .BaseFemale {
  background-image: url(../../../images/wearables/FemaleIcon.svg);
}

.IconBadge .Unisex {
  background-image: url(../../../images/wearables/UnisexIcon.svg);
}

.IconBadge .body_shape {
  background-image: url(../../../images/wearables/BodyShapeIcon.svg);
}

.IconBadge .earring {
  background-image: url(../../../images/wearables/EarringsIcon.svg);
}

.IconBadge .eyebrows {
  background-image: url(../../../images/wearables/EyebrowIcon.svg);
}

.IconBadge .eyes {
  background-image: url(../../../images/wearables/EyesIcon.svg);
}

.IconBadge .eyewear {
  background-image: url(../../../images/wearables/EyewearIcon.svg);
}

.IconBadge .facial_hair {
  background-image: url(../../../images/wearables/FacilHairIcon.svg);
}

.IconBadge .feet {
  background-image: url(../../../images/wearables/FeetIcon.svg);
}

.IconBadge .hair {
  background-image: url(../../../images/wearables/HairIcon.svg);
}

.IconBadge .hat {
  background-image: url(../../../images/wearables/HatIcon.svg);
}

.IconBadge .helmet {
  background-image: url(../../../images/wearables/HelmetIcon.svg);
}

.IconBadge .lower_body {
  background-image: url(../../../images/wearables/LowerBodyIcon.svg);
}

.IconBadge .mask {
  background-image: url(../../../images/wearables/MaskIcon.svg);
}

.IconBadge .mouth {
  background-image: url(../../../images/wearables/MouthIcon.svg);
}

.IconBadge .tiara {
  background-image: url(../../../images/wearables/TiaraIcon.svg);
}

.IconBadge .top_head {
  background-image: url(../../../images/wearables/TopHeadIcon.svg);
}

.IconBadge .upper_body {
  background-image: url(../../../images/wearables/UpperBodyIcon.svg);
}

.IconBadge .skin {
  background-image: url(../../../images/wearables/SkinIcon.svg);
}

.IconBadge .play-once {
  background-image: url(../../../images/emotes/play-once.svg);
  width: 19px;
}

.IconBadge .play-loop {
  background-image: url(../../../images/emotes/play-loop.svg);
  width: 19px;
}

.IconBadge .sparkles {
  filter: brightness(0) invert(1);
  background-image: url(../../../images/sparkles.svg);
  background-size: cover;
}
