.BuyWithManaPage .ui.header {
  margin-bottom: 8px;
}

.BuyWithManaPage .buttons {
  margin-top: 32px;
}

.BuyWithManaPage .buttons .ui.button {
  min-width: 180px;
}

.BuyWithManaPage .error {
  color: var(--danger);
}
