.ClearFilter {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ClearFilter .name {
  display: inline-block;
  color: var(--primary);
  font-weight: 600;
  text-transform: uppercase;
}

.ClearFilter .close {
  width: 16px;
  height: 16px;
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 8px;
  margin-right: 16px;
}
