.TextFilter {
  display: flex;
  flex-direction: column;
}

.TextFilter .ui.sub.header.name {
  margin-bottom: 12px;
  font-weight: 600;
}

.TextFilter .text-input {
  margin-bottom: 8px;
}

.TextFilter .text-input input {
  font-size: 17px;
  line-height: 20px;
  background: none;
  color: white;
  font-weight: 600;
  font-family: var(--font-family);
  border: 1px solid var(--divider);
  border-radius: 6px;
  padding: 6px 6px 6px 36px;
  outline: none;
  width: 100%;
  background-image: url(../../../images/search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 8px;
}

.TextFilter .text-input input::placeholder {
  color: var(--secondary-text);
  font-weight: 400;
}

@media (max-width: 768px) {
  .TextFilter {
    margin-bottom: 4px;
    width: 100%;
  }

  .TextFilter .ui.sub.header.name {
    font-weight: normal;
  }
}
