.collectibleItemRowContainer {
  display: flex;
  padding: 8px;
  align-items: center;
}

.itemDataContainer {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-weight: bold;
  color: white;
}

.creator {
  margin-top: 2px;
  color: #a09ba8;
}

.collectibleItemRowContainer :global(.AssetImage) {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border-radius: 5px;
  overflow: hidden;
}
