.dcl.account-wrapper .dcl.mana {
  flex: none;
}


@media (max-width: 991px) {
  .dcl.navbar .dcl.account-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .dcl.account-wrapper .dcl.mana+.dcl.mana {
    padding: 0;
  }
}