.ArrayFilter {
  display: flex;
  flex-direction: column;
}

.ArrayFilter + .ArrayFilter {
  margin-top: 14px;
}

.ArrayFilter .ui.sub.header.name {
  margin-bottom: 12px;
  font-weight: 600;
}

.ArrayFilter .options {
  display: flex;
  flex-flow: wrap;
}

.ArrayFilter .options .option {
  padding: 5px 12px;
  background-color: #37333d;
  border-radius: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

.ArrayFilter .options .option.selected {
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .ArrayFilter {
    margin-bottom: 12px;
  }

  .ArrayFilter .options .option {
    font-size: 13px;
    line-height: 18px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
