.buyWithCryptoModal,
.buyWithCryptoModal :global(.Column.right) {
  display: flex;
  flex-direction: column;
}

.tokenDropdownContainer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.buyWithCryptoModal:global(.ui.tiny.modal) {
  height: 730px;
  display: flex !important;
  flex-direction: column;
}

.buyWithCryptoModal:global(.ui.modal > .actions) {
  margin-top: auto;
}

.buyWithCryptoModal:global(.ui.modal > .content) {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.buyWithCryptoModal .mainLoader:global(.ui.loader) {
  position: relative;
  top: 25%;
}

.buyWithCryptoModal .assetContainer {
  display: flex;
  justify-content: center;
}

.buyWithCryptoModal .subtitle {
  font-size: 15px;
}

.dropdownContainer {
  display: flex;
  color: var(--text);
  margin-top: 16px;
}

.dropdownContainer :global(span) {
  font-size: 14px;
}

.balance_container {
  display: flex;
  margin-top: 6px;
  font-size: 14px;
  color: var(--secondary-text);
  align-items: center;
}

.dcl_dropdown {
  background: var(--text);
  color: var(--background);
  border-radius: 8px;
  padding: 10px;
  width: 190px;
}

.dcl_dropdown:global(.ui.dropdown .menu .item) {
  display: flex;
  align-items: center;
}

.dcl_dropdown:global(.ui.dropdown .menu .item) {
  display: flex;
  align-items: center;
}

.dcl_dropdown:global(.ui.dropdown > .text) {
  color: var(--black);
}

.dcl_dropdown :global(.ui.avatar.image) {
  width: 25px;
  height: 25px;
  margin-top: -3px;
}

.dcl_dropdown:global(.ui.dropdown > .text > .image) {
  width: 25px;
  height: 25px;
  margin-top: -3px;
}

.buyWithCryptoModal .routeUnavailable,
.insufficientFunds {
  color: red;
  font-size: 14px;
}

.dcl_dropdown:global(.ui.dropdown > .dropdown.icon) {
  margin-left: auto;
  align-self: center;
  margin-right: 6px;
}

.dcl_dropdown:global(.ui.dropdown) {
  display: flex;
  margin-top: 8px;
}

.tokenDropdown:global(.ui.dropdown) {
  margin-top: 8px;
  width: 100%;
  /* width: 140px; */
}

.tokenDropdown:global(.ui.search.dropdown.active > input.search) {
  padding-left: 40px;
  height: 100%;
}

.tokenDropdown:global(.ui.search.dropdown > input.search) {
  padding-left: 40px;
  height: 100%;
}

.tokenDropdown:global(.ui.dropdown.scrolling .menu) {
  width: 100% !important; /* semantic ui has auto!important; */
}

.balanceSkeleton {
  flex-shrink: 0;
  background: var(--dcl-pale-black, #43404a);
  margin-right: 16px;
  background: linear-gradient(90deg, #43404a 25%, #63616d 50%, #43404a 75%);
  background-size: 200% 100%;
  animation: wave 1.5s infinite;
  border-radius: 4px;
  width: 60px;
  height: 16px;
  margin-left: 6px;
}

.balance {
  margin-left: 6px;
}
