.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.video {
  display: block;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #fff;
}

.SmartWearablesLaunchModal :global(.dcl.modal-navigation-title) {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.SmartWearablesLaunchModal:global(.ui.modal .actions > .button:first-child) {
  width: 80%;
  align-self: center;
}

.SmartWearablesLaunchModal:global(.ui.modal .actions .ui.button + .ui.button) {
  margin: unset;
  width: 80%;
  align-self: center;
  color: white;
  border-color: white;
}

.SmartWearablesLaunchModal:global(.ui.modal > .content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 32px 0;
  padding: 0 120px;
}

@media (max-width: 768px) {
  .actions {
    gap: unset;
  }

  .SmartWearablesLaunchModal:global(.ui.modal .actions > .button:first-child),
  .SmartWearablesLaunchModal:global(.ui.modal .actions .ui.button + .ui.button) {
    width: 100%;
  }
}
