.ConfirmInputValueModal .dcl.field .ui.sub.header {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .ConfirmInputValueModal .dcl.field {
    width: 100%;
    min-width: auto;
  }

  .ConfirmInputValueModal:global(.ui.modal .actions) {
    align-items: center;
    bottom: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 90%;
  }
}
