.ConfirmInputValueModal .dcl.field .ui.sub.header {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .ConfirmInputValueModal .dcl.field {
    width: 100%;
    min-width: auto;
  }

  .modalContetnt {
    margin: 0px !important;
    padding: 0px !important;
  }
}
