.ownerButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bidButton:global(.ui.button) {
  background-color: var(--superGray);
}

.bidButton:global(.ui.button):hover {
  background-color: var(--superGrayHovered);
}
