.searchBarDropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #332f3a;
  position: absolute;
  max-height: 735px;
  top: 60px;
  z-index: 1001; /* Loader has 1000, so this is should be above it */
  border-radius: 10px;
  padding: 16px;
  padding-top: 0;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.6);
}

.searchBarDropdown :global(a):hover {
  background-color: var(--dropdown-hover);
}

.tabsContainer {
  padding: 0 12px;
}

.tabsContainer :global(.dcl.tabs) {
  margin-bottom: 12px;
}

:global(.ui.button.inverted).seeAllButton {
  margin-top: 16px;
}

.recentSearchesTitle {
  margin-top: 12px;
  margin-bottom: 8px;
}

.recentSearchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.recentSearchContainer :global(a) {
  flex: 1;
}

.recentSearchContainer .recentIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.searchEmpty {
  color: #a09ba8;
}

@media (max-width: 767px) {
  .tabsContainer :global(.dcl.tab) {
    border-left: none;
    padding-left: 0;
    margin-bottom: 0;
    padding: 0 8px;
    padding-bottom: 4px;
  }
  .tabsContainer :global(.dcl.tab.active) {
    border-bottom: 2px solid var(--primary);
    border-left: none;
  }
  .tabsContainer {
    padding: 0;
  }
}
