.searchBarDropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #332f3a; /* TODO: check this color */
  position: absolute;
  height: 735px;
  top: 60px;
  z-index: 2;
  border-radius: 10px;
  padding: 12px;
  padding-top: 0;
}

.searchBarDropdown :global(.AssetImage) {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border-radius: 5px;
  overflow: hidden;
}

:global(.ui.button.inverted).seeAllButton  {
  margin-top: auto;
}