.BestBuyingOption {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  display: flex;
  padding: 24px;
  width: 100%;
  background-color: var(--secondary);
}

.AlignEnd {
  margin-top: auto;
}

.BestBuyingOption .cardTitle {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  display: flex;
}

.BestBuyingOption .noOffer {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  display: flex;
}

.BestBuyingOption .emptyCardTitle {
  font-weight: 600;
  font-size: 18px;
}

.BestBuyingOption .containerColumn {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}

.BestBuyingOption .nolistingsImage {
  height: 40px;
  align-self: center;
}

.BestBuyingOption .checkTheOwners {
  padding: 0px 5px;
  text-decoration: underline;
  cursor: pointer;
}

.BestBuyingOption .mintingStockContainer {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  justify-content: space-between;
}

.BestBuyingOption .fullWidth {
  width: 100%;
}

.BestBuyingOption .containerRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.BestBuyingOption .emptyCardContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 9px;
  justify-content: center;
  width: 100%;
}

.BestBuyingOption .informationContainer {
  display: flex;
  margin: 10px 0px 0px 0px;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.BestBuyingOption .mintingContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.BestBuyingOption .informationBold {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: unset;
}

.BestBuyingOption .stockText {
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}

.BestBuyingOption .informationBold :global(.ui.header.large) {
  font-size: 30px;
  font-weight: 600;
}

.BestBuyingOption .informationBold :global(.dcl.mana .matic) {
  margin-bottom: 5px;
  width: 22px;
  height: 22px;
}

.BestBuyingOption .informationText {
  color: white;
  font-size: 24px;
  line-height: 1.7;
}

.BestBuyingOption .informationListingText {
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

.BestBuyingOption .centerItems {
  align-items: center;
  gap: 0px;
}

.BestBuyingOption .informationTitle {
  font-size: 14px;
  color: var(--secondary-text);
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 7px;
}

.BestBuyingOption .informationTooltip {
  width: 14px;
  height: 14px;
}

.BestBuyingOption .mintingIcon {
  height: 19px;
}

.BestBuyingOption :global(.ui.header.medium) {
  font-size: 17px;
}

.BestBuyingOption :global(.ui.button + .ui.button) {
  margin-left: unset;
}

.BestBuyingOption :global(.ui.loader.active) {
  display: flex;
  position: unset;
  margin-top: 20px;
}

.BestBuyingOption .emptyContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.BestBuyingOption .buyWithCardClassName {
  background-color: white !important;
  color: black !important;
}

.BestBuyingOption .primaryButton {
  background-color: var(--primary) !important;
}

.BestBuyingOption .outlinedButton {
  border: 1px solid var(--secondary-text) !important;
}

.BestBuyingOption .expiresAt {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.BestBuyingOption .listingMana :global(.ui.header.small) {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.BestBuyingOption .columnListing {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .BestBuyingOption {
    padding: 24px 15px;
  }

  .BestBuyingOption .informationContainer {
    gap: 10px;
  }
}
