.Settings > .top {
  margin-bottom: 21px;
}

.Settings > .top .header {
  font-size: 17px;
}

.Settings > .elements {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 560px;
}

.Settings > .bottom {
  margin-top: 48px;
}
