.NFTAction .back {
  background-image: url(../../images/back.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 9px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 1px rgba(115, 110, 125, 0.4);
  background-size: 7px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  cursor: pointer;
  margin-left: 2px;
}

.NFTAction .back:hover {
  border: solid 1px rgba(255, 255, 255, 0.5);
}

.NFTAction .Row .left {
  flex: 0.75 1 auto;
  text-align: right;
  margin-right: 80px;
}

.NFTAction .Row .right {
  flex: 1.25 1 auto;
}

.NFTAction .nft-image-wrapper {
  width: 240px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 768px) {
  .NFTAction > .Row {
    flex-direction: column;
  }

  .NFTAction > .Row .Column.left,
  .NFTAction > .Row .nft-image-wrapper,
  .NFTAction > .Row .ui.button {
    width: 100%;
  }

  .NFTAction > .Row .buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  .NFTAction > .Row .nft-image-wrapper,
  .NFTAction > .Row .ui.button + .ui.button {
    margin-left: 0px;
    margin-bottom: 24px;
  }
}
