.modal:global(.ui.modal.tiny) {
  width: 520px;
}

.modal:global(.ui.modal > .content) {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 20px;
}

.modal:global(.ui.modal > .actions) {
  margin: 24px 64px 35px 64px;
  flex-direction: column;
}

.actions {
  margin: 24px 64px 35px 64px;
  flex-direction: column;
}

.actions:global(.actions > .ui.button:not(.primary)) {
  margin-top: 12px;
  margin-left: 0;
}

.modal:global(.ui.modal > .actions > .ui.button) {
  margin-left: 0px;
}

.modal:global(.ui.modal > .actions > .ui.button + .ui.button) {
  margin-left: 0px;
  margin-top: 8px;
}

.modal :global(.dcl.modal-navigation-title) {
  margin-top: 16px;
  font-weight: 600;
  font-size: 17px;
}

.modal :global(.dcl.modal-navigation-button.modal-navigation-close) {
  width: 14px;
  height: 14px;
}

.modal :global(.dcl.field) {
  min-width: 100%;
}

.contentContainerRentAgain {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  text-align: center;
}

.rentAgainSmallText {
  font-size: 15px;
}
