.WearableDetail .PageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.WearableDetail .Highlight .left > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.WearableDetail .Highlight .body_shape {
  background-image: url(../../../images//wearables/BodyShapeIcon.svg);
}

.WearableDetail .Highlight .earring {
  background-image: url(../../../images//wearables/EarringsIcon.svg);
}

.WearableDetail .Highlight .eyebrows {
  background-image: url(../../../images//wearables/EyebrowIcon.svg);
}

.WearableDetail .Highlight .eyes {
  background-image: url(../../../images//wearables/EyesIcon.svg);
}

.WearableDetail .Highlight .eyewear {
  background-image: url(../../../images//wearables/EyewearIcon.svg);
}

.WearableDetail .Highlight .facial_hair {
  background-image: url(../../../images//wearables/FacilHairIcon.svg);
}

.WearableDetail .Highlight .feet {
  background-image: url(../../../images//wearables/FeetIcon.svg);
}

.WearableDetail .Highlight .hair {
  background-image: url(../../../images//wearables/HairIcon.svg);
}

.WearableDetail .Highlight .hat {
  background-image: url(../../../images//wearables/HatIcon.svg);
}

.WearableDetail .Highlight .helmet {
  background-image: url(../../../images//wearables/HelmetIcon.svg);
}

.WearableDetail .Highlight .lower_body {
  background-image: url(../../../images//wearables/LowerBodyIcon.svg);
}

.WearableDetail .Highlight .mask {
  background-image: url(../../../images//wearables/MaskIcon.svg);
}

.WearableDetail .Highlight .mouth {
  background-image: url(../../../images//wearables/MouthIcon.svg);
}

.WearableDetail .Highlight .tiara {
  background-image: url(../../../images//wearables/TiaraIcon.svg);
}

.WearableDetail .Highlight .top_head {
  background-image: url(../../../images//wearables/TopHeadIcon.svg);
}

.WearableDetail .Highlight .upper_body {
  background-image: url(../../../images//wearables/UpperBodyIcon.svg);
}

.WearableDetail .Highlight .left > .BaseMale {
  background-image: url(../../../images//wearables/MaleIcon.svg);
  background-size: 24px 24px;
}

.WearableDetail .Highlight .left > .BaseFemale {
  background-image: url(../../../images//wearables/FemaleIcon.svg);
  background-size: 24px 24px;
}
