.backToTop:global(.ui.button) {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 100px;
  left: 100%;
  z-index: 5;
}

@media (max-width: 767px) {
  .backToTop:global(.ui.button) {
    float: right;
    right: 12px;
    left: 0;
    bottom: 12px;
    min-width: unset;
    padding: 16px 18px;
  }
  .backToTop:global(.ui.button:not(.icon) > .icon:not(.button):not(.dropdown)) {
    margin-right: -4px;
  }
}
