.CampaignBrowserBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../mvfw-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  padding: 16px 48px;
  text-align: center;
}

.CampaignBrowserBanner .ui.header {
  color: white;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.CampaignBrowserBanner .copy::before {
  content: '';
  width: 118px;
  height: 32px;
  background: url('../mvmf-logo.png');
  background-size: contain;
  margin-bottom: 20px;
}

.CampaignBrowserBanner p {
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.CampaignBrowserBanner .copy {
  flex: 0 1 auto;
  margin-right: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CampaignBrowserBanner .ui.button {
  flex: none;
}

@media (max-width: 768px) {
  .CampaignBrowserBanner {
    background-image: url(../mvfw-banner-mobile.png);
    height: auto;
    padding: 25px 48px;
  }
  .CampaignBrowserBanner .copy {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .CampaignBrowserBanner .ui.header {
    font-size: 20px;
  }
  .CampaignBrowserBanner p {
    font-size: 14px;
  }
}
