.CampaignBrowserBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(./campaign-browser-banner.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 153px;
  padding: 16px 48px;
}

.CampaignBrowserBanner .ui.header {
  color: black;
  margin-bottom: 8px;
  font-size: 28px;
}

.CampaignBrowserBanner p {
  color: black;
  font-size: 17px;
}

.CampaignBrowserBanner .copy {
  flex: 0 1 auto;
  margin-right: 20px;
  max-width: 512px;
}

.CampaignBrowserBanner .ui.button {
  flex: none;
}

@media (max-width: 768px) {
  .CampaignBrowserBanner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(./campaign-browser-banner-mobile.png);
    height: 200px;
  }
  .CampaignBrowserBanner .copy {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .CampaignBrowserBanner .ui.header {
    font-size: 20px;
  }
  .CampaignBrowserBanner p {
    font-size: 14px;
  }
}
