.supply {
  color: var(--secondary-text);
}

.ownerButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recommendations > div {
  margin-top: 30px;
}

.recommendations > :global(.Slideshow) {
  margin-bottom: 0px !important;
}