.detail .supply {
  color: var(--secondary-text);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.badges {
  margin-top: 15px;
  display: flex;
  gap: 8px;
}

.box {
  padding: 20px 24px;
}

.box > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
