.Menu {
  --menu-item-width: 232px;
  margin-right: 24px;
}

ul.Menu {
  margin-left: -16px;
  padding: 0px;
}

ul.Menu li {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2;
  list-style: none;
  padding: 9px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  text-transform: capitalize;
  width: 248px;
}

ul.Menu li.sub {
  color: var(--secondary-text);
  margin-left: 16px;
  width: var(--menu-item-width);
}

ul.Menu li .dropdown.icon {
  float: right;
}

ul.Menu li:hover,
ul.Menu li.active {
  color: white;
  font-weight: 600;
  background-color: var(--card);
}

ul.Menu.submenu {
  padding-left: 16px;
}

ul.Menu.submenu li.sub {
  width: calc(var(--menu-item-width) - 16px);
}
