.EstateDetail .left-title {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
}

.EstateDetail .right-title {
  flex: 1 1 auto;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.EstateDetail .estate-title-name {
  flex: 0 1 auto;
  word-break: break-word;
}

.EstateDetail .estate-title-badge {
  margin-left: 16px;
  margin-top: 3px;
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .EstateDetail .estate-title-jump-in {
    display: none !important;
  }

  .EstateDetail .right-title {
    padding-left: 0px;
    justify-content: flex-start;
  }
}
