.EstateDetail .estate-title {
  max-width: 70%;
  display: flex;
  align-items: center;
}

.EstateDetail .estate-title-name {
  flex: 1 0 auto;
}

.EstateDetail .estate-title-land {
  flex: 0 0 auto;
}

.EstateDetail .estate-title-jump-in {
  flex: 0 0 auto;
  margin-left: 16px;
}

@media (max-width: 768px) {
  .EstateDetail .jump-in-badge {
    display: none;
  }
}
