.price-filter.range-field {
  padding: 20px;
  padding-bottom: 0;
}

.price-filter .dcl.mana {
  position: absolute;
  top: 10px;
  left: 15px;
  margin-top: 0;
}

.price-filter .dcl.mana .symbol .ethereum {
  filter: grayscale(1);
}

.price-filter .dcl.field.full .ui.input input {
  padding-right: 10px !important;
  padding-left: 40px !important;
}
