.EmoteTags {
  display: flex;
}

.EmoteTags .PlayModeSmallBadge {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  padding: 4px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #37333d;
  margin-left: 10px;
}

.EmoteTags .PlayModeSmallBadge .PlayIcon {
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  width: 19px;
  /* filter obtained using https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(99%) sepia(4%) saturate(57%) hue-rotate(228deg)
    brightness(117%) contrast(100%);
}

.EmoteTags .PlayModeSmallBadge .PlayOnce {
  background-image: url(../../../images/emotes/play-once.svg);
}

.EmoteTags .PlayModeSmallBadge .PlayLoop {
  background-image: url(../../../images/emotes/play-loop.svg);
}
