.AssetPage {
  margin-top: 39px;
}

.AssetPage .back {
  top: 5px;
}

.AssetPage .asset-container {
  width: 100%;
}

@media (max-width: 768px) {
  .AssetPage .ui.container .dcl.back.absolute {
    position: absolute;
  }
}
