.price-filter.range-field {
  padding: 20px;
  padding-bottom: 0;
}

.price-filter .dcl.mana:not(.mana-label-icon) {
  position: absolute;
  top: 10px;
  left: 12px;
  margin-top: 0;
}

.price-filter .ui.header.dcl.mana.mana-label-icon {
  font-size: 17px;
}

.price-filter .dcl.mana.mana-label-icon .symbol {
  opacity: 0.5;
}

.price-filter .dcl.mana .symbol .ethereum {
  transform: scale(0.8) translateY(0.2em);
}

.price-filter .dcl.mana .symbol .matic {
  /* obtained using https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(44%) sepia(18%) saturate(249%) hue-rotate(219deg)
    brightness(95%) contrast(87%);
  transform: scale(0.8) translateY(0.2em);
  width: 16px;
  height: 16px;
}

.price-filter .dcl.field.full .ui.input input {
  text-overflow: ellipsis;
  padding-right: 4px !important;
  padding-left: 29px !important;
  font-size: 15px;
}

.price-filter .ui.min-max-field {
  column-gap: 8px;
}

.price-filter .dcl.field .ui.sub.header {
  padding: 4px 0;
}

.price-filter .dcl.field .message {
  /* we won't show any message for this inputs */
  display: none;
}

/* Hide input arrows for Chrome, Safari, Edge, Opera */
.price-filter .dcl.field.full .ui.input input::-webkit-outer-spin-button,
.price-filter .dcl.field.full .ui.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide input arrows for Firefox */
.price-filter .dcl.field.full .ui.input input[type='number'] {
  -moz-appearance: textfield;
}

.price-filter-error {
  display: block;
  margin-top: 12px;
  color: var(--summer-red);
}

.price-filter .price-input-container {
  max-width: 200px;
}

.price-filter .recharts-responsive-container {
  background-color: #161419;
  border-radius: 6px;
  margin-top: 16px;
}

.price-filter .price-input-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 160% */

  letter-spacing: -0.2px;

  color: #736e7d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price-filter .price-input-container .ui.header.dcl.mana {
  position: relative;
  margin-bottom: 0;
  top: 0;
  left: 0;
  font-size: 15px;
}

.price-filter .dcl.sliderfield {
  padding-left: 5px;
}

.price-filter .dcl.sliderfield > p {
  display: none;
}

.price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-mark {
  top: -7px;
}

.price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-track {
  background: #736e7d;
}

.price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-mark {
  background-color: #736e7d;
}

.price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-rail,
.price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-track,
.price-filter .dcl.sliderfield-wrapper {
  height: 2px;
}

.price-filter .price-filter .dcl.sliderfield-wrapper .dcl.sliderfield-track {
  height: 2px;
}

.price-filter .loader-container {
  height: 150px;
  position: absolute;
  bottom: 74px;
  width: 200px;
  left: 24px;
  border-radius: 6px;
}

.price-filter .loading-layer {
  height: 150px;
  background-color: black;
  width: 200px;
  opacity: 0.5;
  border-radius: 6px;
  height: 100%;
}

.price-filter .no-data-loading-layer {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 24px;
}

.price-filter .custom-tooltip {
  display: flex;
  color: var(--popup-text);
  background-color: var(--card);
  border: var(--popup-outline);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  padding: 7px 12px;
  border-radius: 0.28571429rem;
  border-top-left-radius: 0.285714rem;
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
  border-bottom-left-radius: 0.285714rem;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-1);
}

.price-filter .custom-tooltip .ui.header.dcl.mana {
  position: initial;
  font-size: 17px;
  margin-bottom: 0;
  white-space: nowrap;
}

.price-filter .custom-tooltip .ui.header.dcl.mana span {
  font-size: 14px;
}

.price-filter .custom-tooltip .custom-tooltip-separator {
  padding: 0 6px;
}
