.Title {
  margin-top: 35px;
}

.Title .left .ui.large.header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.Title .Column.left .ui.header > .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
}

.Title .Badge {
  margin-left: 16px;
  margin-top: 1px;
}

@media (max-width: 768px) {
  .Title .left {
    margin-right: 0px;
    margin-bottom: 24px;
  }
}
