.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header:global(.ui.header) {
  margin: 0 24px;
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.header:global(.ui.header.large) {
  margin-bottom: 7px;
}

.header:global(.ui.sub.header) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  text-transform: none;
}

.nameContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  flex-grow: 1;
}

.privateBadge:global(.dcl.badge) {
  box-sizing: border-box;
  background-color: var(--secondary);
  color: var(--secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 3px 0px;
  gap: 1px;
  width: 68px;
  height: 18px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  text-transform: none;
  display: flex;
  justify-content: center;
}

.privateBadge:global(.dcl.badge i.icon) {
  margin-right: 1px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions :global(.ui.button).iconContainer {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  z-index: 11;
}

.actions :global(.ui.button).iconContainer.share {
  background-color: var(--text);
  color: var(--background);
}

:global(.ui.header).header .actions :global(.ui.button).iconContainer :global(.icon) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.description {
  flex-grow: 1;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--secondary);
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 24px;
}

.notFoundImage {
  background-image: url('../../images/list-not-found.svg');
}

.couldNotLoadImage {
  background-image: url('../../images/could-not-load-list.svg');
}

.errorImage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.errorTitle {
  text-align: center;
}

.errorSubtitle {
  margin-bottom: 40px;
  text-align: center;

}

.assetBrowseContainer {
  flex-grow: 1;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.emptyLogo {
  background-image: url('../../images/empty-list.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.emptyActions {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header:global(.ui.header) {
    margin-left: 16px;
  }

  .header:global(.ui.sub.header) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }
}

.emptyState {
  flex-grow: 1;
}
