.Highlights > .ui.header {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .Highlights .Highlight + .Highlight {
    margin-left: 64px;
  }
}

@media (max-width: 768px) {
  .Highlights .dcl.row {
    flex-direction: column;
  }

  .Highlights .Highlight {
    width: 100%;
  }

  .Highlights .Highlight + .Highlight {
    margin-top: 24px;
  }
}
