@media (min-width: 768px) {
  .listingsTableContainer :global(.filtertabsContainer) {
    height: 69px;
  }

  .listingsTableContainer :global(.ui.basic.table tbody tr) {
    height: 65px;
  }
  .listingsTableContainer :global(.dcl.mana.inline) {
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .listingsTableContainer :global(.ui.very.basic.table tr th),
  .listingsTableContainer :global(.ui.very.basic.table tr td) {
    width: 50% !important; /* 2 columns, needs to be overriden with the !important since the library uses it too */
  }
  .listingsTableContainer :global(.ui.very.basic.table tr) {
    border: 1px solid var(--divider);
  }
  .listingsTableContainer :global(.ui.very.basic.table tr):first-of-type {
    border: none;
  }
  .listingsTableContainer :global(.ui.very.basic.table td) {
    border-right: 1px solid var(--divider) !important; /* needs to be overriden with the !important since the library uses it too */
  }
  .listingsTableContainer :global(.ui.small.inverted.button) {
    min-width: auto;
    border: none;
  }
}