.AccountPage .PageHeader {
  display: flex;
  align-items: center;
  background-color: var(--card);
}

.AccountPage .PageHeader > div {
  margin: auto;
  text-align: center;
}

.AccountPage ul.Menu {
  margin-top: 0;
}

.AccountPage .blockie-address {
  margin-top: 16px;
  font-size: 17px;
}

.AccountPage .profile-name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 18px;
}

.AccountPage .profile-address {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.AccountPage .profile-address-hash {
  color: var(--secondary-text);
  margin-right: 5px;
}

.AccountPage .copy {
  color: var(--primary);
  cursor: pointer;
}

.AccountPage .copied {
  color: var(--primary);
}

.AccountPage .profile-copied-text-desktop {
  position: absolute;
}

.AccountPage .profile-copy-text-mobile {
  margin-top: 5px;
}
