.AccountPage .PageHeader {
  display: flex;
  align-items: center;
  background-color: var(--card);
}

.AccountPage .PageHeader > div {
  margin: auto;
  text-align: center;
}

.AccountPage ul.Menu {
  margin-top: 0;
}

.AccountPage .blockie-address {
  margin-top: 16px;
  font-size: 17px;
}

/* AccountBanner */

.AccountPage .Profile.avatar .avatar-face {
  width: 96px;
  height: 96px;
}

.AccountPage .profile-name {
  margin-top: 16px;
  font-size: 28px;
  line-height: 34px;
}

/* Account Banner - profile address */

.AccountPage .profile-address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.AccountPage .profile-address-hash {
  margin-right: 5px;
  font-size: 17px;
  line-height: 26px;
}

.AccountPage .copy {
  cursor: pointer;
}

.AccountPage .profile-copied-text-desktop {
  position: absolute;
}

.AccountPage .profile-copy-text-mobile {
  margin-top: 5px;
}

/* AccountBanner - description */

.AccountPage .description {
  margin-top: 12px;
  max-width: 420px;
  font-size: 17px;
  line-height: 26px;
}
