.AccountPage .ui.container {
  display: flex;
}

.AccountPage .right-column {
  width: 100%;
  margin-top: 10px;
}

.AccountPage .PageHeader {
  display: flex;
  align-items: center;
}

.AccountPage .PageHeader > div {
  margin: auto;
  text-align: center;
}

.AccountPage .blockie-address {
  margin-top: 16px;
  font-size: 17px;
}
