.Banner {
  position: relative;
  background-color: rgb(105, 31, 169);
  font-size: 14px;
  line-height: 17px;
  padding: 12px;
  text-align: center;
}

.Banner br {
  display: none;
}

.Banner .icon.close {
  position: absolute;
  right: 12px;
  top: 14px;
  cursor: pointer;
}

.Banner a {
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .Banner {
    padding: 12px 32px;
  }

  .Banner br {
    display: block;
  }
}
