.buy_with_card:global(.ui.button) {
  background-color: var(--superGray);
}

.buy_with_card:global(.ui.button):hover {
  background-color: var(--superGrayHovered);
}

.loading_asset {
  align-self: center;
}
