.ParcelDetail .left-title {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
}

.ParcelDetail .right-title {
  flex: 1 1 auto;
  max-width: 400px;
  overflow: hidden;
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.ParcelDetail .parcel-title-name {
  flex: 0 1 auto;
  word-break: break-word;
}

.ParcelDetail .parcel-title-coordinate {
  margin-left: 16px;
  margin-top: 0px;
  flex: 0 0 auto;
}

.ParcelDetail .parcel-title-jump-in {
  flex: 0 0 auto;
  margin-left: 16px;
}

.ParcelDetail .estate-information {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .ParcelDetail .parcel-title-jump-in {
    display: none !important;
  }

  .ParcelDetail .right-title {
    padding-left: 0px;
    max-width: auto;
    justify-content: flex-end;
  }
}
