.modal :global(.dcl.field),
:global(.dcl.text-area) {
  margin-bottom: 20px;
}

.modal:global(.ui.modal > .actions) {
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .modal:global(.ui.modal > .actions) {
    gap: unset;
  }

  .modal :global(.dcl.field) {
    min-width: unset;
  }
}
