.modal :global(.dcl.field),
.modal :global(.dcl.text-area) {
  margin-bottom: 20px;
}

.privatePopup:global(.ui.popup) {
  z-index: 9999;
}

.modal:global(.ui.modal > .actions) {
  flex-direction: column;
  gap: 15px;
}

.checkbox:global(.ui.checkbox input[type='checkbox'].hidden ~ label:before),
.checkbox:global(.ui.checkbox
    input[type='checkbox'].hidden
    ~ label:hover:before) {
  border: 1px solid white;
}

.modal :global(.actions > .ui.button + .ui.button) {
  margin-left: 0;
}

@media (max-width: 768px) {
  .modal:global(.ui.modal > .actions) {
    gap: unset;
  }

  .modal :global(.dcl.field) {
    min-width: unset;
  }
}
