.BidsTable {
  position: relative;
}

.linkedProfileRow {
  color: var(--primary) !important;
}

.BidsTable .headerMargin {
  padding: 20px !important;
}

.issuedIdContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.BidsTable .issuedId {
  font-size: 15px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.badgeContainer :global(.dcl.badge) {
  color: white;
  background-color: transparent !important;
}

.badgeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.BidsTable .goToNFT {
  color: white;
  padding-right: 25px;
}

.emptyTable {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.manaField {
  display: flex;
  align-items: center;
  font-size: 14px;
  flex-wrap: wrap;
}

.manaField :global(.ui.header:last-child) {
  font-size: 14px;
}

.viewListingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .linkedProfileRow {
    margin-left: unset;
  }
  .viewListingContainer {
    flex-direction: column;
    gap: 6px;
    padding: 6px;
  }
}
