.page {
  margin-top: 39px;
}

.badge {
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
}

.firstCell {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.headerContainer {
  width: 100%;
}

.title {
  font-weight: 600;
}

.ellipsis {
  visibility: hidden;
  color: var(--summer-red);
  cursor: pointer;
}

.row:hover .ellipsis {
  visibility: visible;
}

.tabs {
  display: flex;
  align-items: center;
}

.tab {
  display: flex;
  align-items: center;
}

.tab div {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .columnRight {
    margin-top: 12px;
  }
}
