.price-filter.range-field {
  padding: 20px;
  padding-bottom: 0;
}

.price-filter .dcl.mana:not(.mana-label-icon) {
  position: absolute;
  top: 10px;
  left: 15px;
  margin-top: 0;
}

.price-filter .ui.header.dcl.mana.mana-label-icon {
  font-size: 17px;
}

.price-filter .dcl.mana.mana-label-icon .symbol {
  opacity: 0.5;
}

.price-filter .dcl.mana .symbol .ethereum {
  filter: grayscale(1);
  transform: scale(0.8) translateY(0.2em);
}

.price-filter .dcl.mana .symbol .matic {
  /* obtained using https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(44%) sepia(18%) saturate(249%) hue-rotate(219deg)
    brightness(95%) contrast(87%);
  transform: scale(0.8) translateY(0.2em);
  width: 16px;
  height: 16px;
}

.price-filter .dcl.field.full .ui.input input {
  padding-right: 0px !important;
  padding-left: 34px !important;
  font-size: 15px;
}

.price-filter .ui.min-max-field {
  column-gap: 8px;
}

.price-filter .dcl.field .ui.sub.header {
  padding: 4px 0;
}

.price-filter .dcl.field .message {
  /* we won't show any message for this inputs */
  display: none;
}

/* Hide input arrows for Chrome, Safari, Edge, Opera */
.price-filter .dcl.field.full .ui.input input::-webkit-outer-spin-button,
.price-filter .dcl.field.full .ui.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide input arrows for Firefox */
.price-filter .dcl.field.full .ui.input input[type='number'] {
  -moz-appearance: textfield;
}

.price-filter-error {
  display: block;
  margin-top: 12px;
  color: var(--summer-red);
}
