.buyWithCryptoModal .tokenDropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buyWithCryptoModal:global(.ui.tiny.modal) {
  height: 730px;
  display: flex !important;
  flex-direction: column;
}

.buyWithCryptoModal:global(.ui.modal > .actions) {
  margin-top: auto;
}

.buyWithCryptoModal:global(.ui.modal > .content) {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.buyWithCryptoModal .mainLoader:global(.ui.loader) {
  position: relative;
  top: 25%;
}

.buyWithCryptoModal :global(.AssetImage) {
  display: flex;
  width: 250px;
  border-radius: 25px;
  overflow: hidden;
  margin: 25px;
}

.buyWithCryptoModal .assetContainer {
  display: flex;
  justify-content: center;
}

.buyWithCryptoModal .subtitle {
  font-size: 15px;
}

.dropdownContainer {
  display: flex;
  justify-content: space-between;
  color: var(--text);
}

.dropdownContainer :global(span) {
  font-size: 14px;
}

.balance_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  font-size: 14px;
  color: var(--secondary-text);
}

.dcl_dropdown {
  background: var(--text);
  color: var(--background);
  border-radius: 20px;
  padding: 6px;
  width: 190px;
}

.dcl_dropdown:global(.ui.dropdown .menu .item) {
  display: flex;
  align-items: center;
}

.dcl_dropdown:global(.ui.dropdown .menu .item) {
  display: flex;
  align-items: center;
}

.dcl_dropdown:global(.ui.dropdown > .text) {
  color: var(--black);
}

.dcl_dropdown :global(.ui.avatar.image) {
  width: 25px;
  height: 25px;
  margin-top: 0px;
}

.dcl_dropdown:global(.ui.dropdown > .text > .image) {
  width: 25px;
  height: 25px;
  margin-top: 0px;
}

/* .summaryContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--secondary-text);
} */

.buyWithCryptoModal .routeUnavailable,
.insufficientFunds {
  color: red;
  font-size: 14px;
}

.dcl_dropdown:global(.ui.dropdown > .dropdown.icon) {
  margin-left: auto;
  align-self: center;
  margin-right: 6px;
}

.dcl_dropdown:global(.ui.dropdown) {
  display: flex;
  margin-top: 2px;
}

.token_dropdown:global(.ui.dropdown) {
  width: 140px;
}

.token_dropdown:global(.ui.search.dropdown.active > input.search) {
  padding-left: 40px;
  height: 100%;
}

.token_dropdown:global(.ui.search.dropdown > input.search) {
  padding-left: 40px;
  height: 100%;
}

.token_dropdown:global(.ui.dropdown.scrolling .menu) {
  width: 100% !important; /* semantic ui has auto!important; */
}
