.AssetCard {
  height: 345px;
  overflow: visible;
}

.ui.card.AssetCard.catalog {
  height: 360px;
}

.AssetCard.ui.card > .content.catalog {
  padding: 14px 14px 18px 14px;
}

.AssetCard .header .catalogTitle {
  flex: 1 2 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
}

.AssetCard .textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui.card.AssetCard > .content,
.ui.cards > .card.AssetCard > .content {
  height: 185px;
}

.ui.card.AssetCard > .content > .header:not(.ui),
.ui.cards > .card.AssetCard > .content > .header:not(.ui) {
  flex: unset;
}

.ui.card.AssetCard .AssetImage,
.ui.card.AssetCard .AssetImage .rarity-background {
  border-radius: 10px 10px 0px 0px !important;
}

.AssetCard .header,
.AssetCard .dcl.mana.inline {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.AssetCard .ui.header.small {
  font-size: 14.5px;
  font-weight: 400;
  margin-top: -1px;
}

.AssetCard .CatalogItemInformation {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition: inherit;
  flex: 1;
}

.AssetCard .CatalogItemInformation > span > img {
  margin-left: 4px;
}

.AssetCard .header .title {
  flex: 1 2 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.AssetCard .creator {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
}

.ui.card.AssetCard > .content > .header:not(.ui),
.ui.cards > .card.AssetCard > .content > .header:not(.ui) {
  display: flex;
  margin-bottom: 0px;
}

.AssetCard .dcl.mana.inline {
  margin: 0px;
  flex: none;
}

.ui.cards > .ui.card.AssetCard.link .meta,
.ui.card.link .meta {
  margin-bottom: 4px;
}

.AssetCard .tags {
  margin-top: 10px;
}

.AssetCard .AssetImage .ens-subdomain {
  background-size: 557px;
  background-position-y: -133px;
}

.AssetCard .AssetImage .ens-subdomain .monospace {
  margin-top: 0px;
}

.AssetCard .sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text);
}

.AssetCard .card-meta {
  margin-right: 10px;
}

.AssetCard .card-rental-day {
  color: var(--text);
  font-size: 17px;
}

.AssetCard .LandBubble {
  align-self: flex-end;
  background-color: #ecebed;
  border: 1px solid #a09ba8;
  color: #43404a;
  font-size: 11px;
  border-radius: 50px !important;
  display: flex;
  font-weight: 700;
  padding: 4px 11px;
  position: fixed;
  right: 11px;
  text-transform: uppercase;
  top: 11px;
  z-index: 2;
}

.AssetCard .AssetImage {
  height: 223px;
  transition: height 0.3s !important;
}

.AssetCard .NotForSale {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

.AssetCard .AssetImage.catalog {
  height: 209px;
  transition: height 0.3s !important;
}

.AssetCard .AssetImage.remove-margin {
  margin-bottom: unset;
}

.AssetCard .PriceInMana .ui.header.large {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

.AssetCard .ens-subdomain {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.AssetCard .mintIcon {
  height: 14px;
}

.AssetCard .dcl.atlas {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.AssetCard .wrapBigText {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

@media (min-width: 1199px) {
  .AssetCard:hover .AssetImage.catalog {
    height: 161px;
    transition: none;
    transition: height 0.3s !important;
  }

  .AssetCard .extraInformation {
    display: flex;
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: height 0.1s, opacity 0.6s;
  }
  .AssetCard:hover .extraInformation {
    visibility: visible;
    margin-top: 5px;
    height: auto;
    opacity: 1;
    align-items: center;
  }

  .ui.cards > .ui.card.AssetCard.link:hover .meta,
  a.ui.card.link:hover .meta {
    color: var(--secondary-text);
  }

  .AssetCard:hover .CatalogItemInformation {
    margin-top: 2px;
  }

  .ui.cards a.card.AssetCard.catalog:hover,
  .ui.link.card.AssetCard.catalog:hover,
  .ui.link.cards .card.AssetCard.catalog:hover,
  a.ui.card.AssetCard.catalog:hover,
  .ui.cards > .ui.card.AssetCard.catalog.link:hover,
  .ui.card.AssetCard.catalog.link:hover {
    border: none !important;
  }

  .ui.card.AssetCard:hover > .content.catalog.expandable,
  .ui.cards > .card.AssetCard:hover > .content.catalog.expandable {
    height: 222px;
  }

  .ui.card.AssetCard:hover > .content.catalog,
  .ui.cards > .card.AssetCard:hover > .content.catalog {
    position: absolute;
    height: 206px;
    margin-top: 161px;
    width: 100%;
    background-color: var(--card);
    box-shadow: 0px 4px 34px 0px rgba(255, 255, 255, 0.37) !important;
    border-radius: 0px 0px 10px 10px !important;
  }

  .ui.card.AssetCard:hover .AssetImage.catalog,
  .ui.cards > .card.AssetCard:hover .AssetImage.catalog {
    box-shadow: 0px 4px 34px 0px rgba(255, 255, 255, 0.37) !important;
    border-radius: 10px !important;
  }
}

@media (max-width: 1199px) {
  .AssetCard .AssetImage.catalog,
  .AssetImage.catalog .image-wrapper {
    height: 123px;
  }
  .AssetCard .LandBubble {
    align-self: center;
    font-size: x-small;
    justify-content: center;
    left: 11px;
    line-height: 12px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .AssetCard .header {
    display: flex;
    flex-direction: column;
  }

  .AssetCard .header .title {
    margin-right: 0;
  }

  .AssetCard .dcl.mana.inline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  .AssetCard .LandBubble {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .ui.card.AssetCard.catalog {
    height: 345px;
  }
  .AssetCard.ui.card > .content.catalog,
  .ui.cards > .AssetCard.card > .content.catalog {
    display: flex;
  }

  .AssetCard .catalog .tags {
    margin-top: auto;
  }

  .AssetBrowse .ui.cards .ui.card.AssetCard {
    transform: translateY(0px);
  }

  .AssetCard.ui.card > .content.catalog > .header:not(.ui),
  .AssetCard.ui.cards > .card > .content.catalog > .header:not(.ui) .header,
  .AssetCard .CatalogItemInformation {
    font-size: 15px;
  }

  .AssetCard .PriceInMana .ui.header.large {
    font-size: 25px;
  }

  .AssetCard .wrapBigText {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
  }

  .AssetCard .wrapBigText .ui.small.header.dcl.mana.tiniMana {
    font-size: 12px;
  }

  .AssetCard .PriceInMana {
    margin-top: 6px;
  }

  .AssetCard .AssetImage.catalog,
  .AssetImage.catalog .image-wrapper {
    height: 123px;
  }

  .AssetCard .extraInformation {
    margin-top: 6px;
    visibility: visible;
    height: unset;
    font-size: 12px;
    font-weight: normal;
  }

  .ui.cards a.card.AssetCard.catalog:hover,
  .ui.link.card.AssetCard.catalog:hover,
  .ui.link.cards .card.AssetCard.catalog:hover,
  a.ui.card.AssetCard.catalog:hover,
  .ui.cards > .ui.card.AssetCard.catalog.link:hover,
  .ui.card.AssetCard.catalog.link:hover {
    transform: translateY(0px);
  }

  .AssetCard.ui.card > .content,
  .ui.cards > .AssetCard.card > .content {
    display: block;
  }

  .AssetCard .LandBubble {
    align-items: flex-start;
    align-self: flex-end;
    font-size: small;
    left: unset;
    text-align: left;
  }
}

.AssetCard .FavoritesCounterBubble {
  display: flex;
  align-self: flex-start;
  position: fixed;
  top: 8px;
  left: 8px;
}
