.AssetCard {
  height: 346px;
  overflow: visible;
}

.ui.cards a.card.AssetCard:hover,
.ui.link.card.AssetCard:hover,
.ui.link.cards .card.AssetCard:hover,
a.ui.card.AssetCard:hover,
.ui.cards > .ui.card.AssetCard.link:hover,
.ui.card.AssetCard.link:hover {
  border: none !important;
}

.ui.card.AssetCard > .content,
.ui.cards > .card.AssetCard > .content {
  height: 185px;
  transition: height 0.3s !important;
  margin-bottom: 20px;
}

.ui.card.AssetCard > .content > .header:not(.ui),
.ui.cards > .card.AssetCard > .content > .header:not(.ui) {
  flex: unset;
}

.ui.card.AssetCard:hover > .content,
.ui.cards > .card.AssetCard:hover > .content {
  position: absolute;
  margin-top: 161px;
  width: 100%;
  height: 234px;
  background-color: var(--card);
  box-shadow: 0px 4px 34px 0px rgba(255, 255, 255, 0.37) !important;
  border-radius: 0px 0px 10px 10px !important;
}

.ui.card.AssetCard:hover .AssetImage,
.ui.cards > .card.AssetCard:hover .AssetImage {
  box-shadow: 0px 4px 34px 0px rgba(255, 255, 255, 0.37) !important;
  border-radius: 10px !important;
}

.ui.card.AssetCard .AssetImage,
.ui.card.AssetCard .AssetImage .rarity-background {
  border-radius: 10px 10px 0px 0px !important;
}

.AssetCard .header,
.AssetCard .dcl.mana.inline {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.AssetCard .extraInformation {
  visibility: hidden;
  height: 0px;
}

.AssetCard:hover .extraInformation {
  visibility: visible;
}

.AssetCard .ui.header.small {
  font-size: 14.5px;
  font-weight: 400;
}

.AssetCard .CatalogItemInformation {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition: inherit;
  flex: 1;
}

.AssetCard:hover .CatalogItemInformation {
  margin-top: 13px;
}

.AssetCard .header .title {
  flex: 1 2 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.AssetCard .Creator {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text);
}

.ui.card.AssetCard > .content > .header:not(.ui),
.ui.cards > .card.AssetCard > .content > .header:not(.ui) {
  display: flex;
  margin-bottom: 0px;
}

.AssetCard .dcl.mana.inline {
  margin: 0px;
  flex: none;
}

.ui.cards > .ui.card.AssetCard.link .meta,
.ui.card.link .meta {
  margin-bottom: 4px;
}

.ui.cards > .ui.card.AssetCard.link:hover .meta,
a.ui.card.link:hover .meta {
  color: var(--secondary-text);
}

.AssetCard .tags {
  margin-top: 12px;
}

.AssetCard .AssetImage .ens-subdomain {
  background-size: 557px;
  background-position-y: -133px;
}

.AssetCard .AssetImage .ens-subdomain .monospace {
  margin-top: 0px;
}

.AssetCard .sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text);
}

.AssetCard .card-meta {
  margin-right: 10px;
}

.AssetCard .card-rental-day {
  color: var(--text);
  font-size: 17px;
}

.AssetCard .LandBubble {
  align-self: flex-end;
  background-color: #ecebed;
  border: 1px solid #a09ba8;
  color: #43404a;
  font-size: 11px;
  border-radius: 50px !important;
  display: flex;
  font-weight: 700;
  padding: 4px 11px;
  position: fixed;
  right: 11px;
  text-transform: uppercase;
  top: 11px;
  z-index: 2;
}

.AssetCard .AssetImage {
  height: 161px;
}

.AssetCard .PriceInMana .ui.header.large {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

@media (max-width: 1199px) {
  .AssetCard .LandBubble {
    align-self: center;
    font-size: x-small;
    justify-content: center;
    left: 11px;
    line-height: 12px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .AssetCard .header {
    display: flex;
    flex-direction: column;
  }

  .AssetCard .header .title {
    margin-right: 0;
  }

  .AssetCard .dcl.mana.inline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }

  .AssetCard .LandBubble {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .AssetCard.ui.card > .content,
  .ui.cards > .AssetCard.card > .content {
    display: block;
  }

  .AssetCard .LandBubble {
    align-items: flex-start;
    align-self: flex-end;
    font-size: small;
    left: unset;
    text-align: left;
  }
}
