.mintNamePageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mintNamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.mintNamePage .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.mintNamePage .buttons :global(.button) {
  margin-bottom: 12px;
}

.mintNamePage .buttons :global(.ui.button + .ui.button) {
  margin-left: 0;
}
