.headerMargin {
  padding: 20px !important;
}

.issuedIdContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.badge {
  color: white;
  background-color: transparent !important;
}

.gotToNFT {
  color: white;
  padding-right: 25px;
}

.emptyTable {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyTableActionButton {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .linkedProfileRow {
    margin-left: unset;
  }
}
