.CampaignHomepageBanner {
  width: 100%;
  padding: 25px 50px;
  display: flex;
  background-image: url('../pride-banner.png');
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.CampaignHomepageBanner .event-banner-text {
  display: flex;
  flex-direction: column;
  color: white;
  align-self: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  gap: 10px;
  justify-content: center;
}

.CampaignHomepageBanner .event-banner-logo-container {
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: unset;
}

.CampaignHomepageBanner .event-banner-logo {
  width: 320px;
}

.CampaignHomepageBanner .title {
  font-size: 34px;
  line-height: 29px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 15px;
}

.CampaignHomepageBanner .subtitle {
  text-align: center;
  overflow-wrap: break-word;
  font-size: 19px;
  font-weight: 700;
  word-spacing: -1px;
}

.CampaignHomepageBanner .event-banner-pink {
  color: #fd98ff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.CampaignHomepageBanner .ui.button.event-banner-browse-button {
  width: 256px;
  flex: none;
  align-self: center;
  font-weight: 800;
  margin-top: 15px;
}

.CampaignHomepageBanner .event-banner-hat {
  width: 256px;
  height: 219px;
  align-self: center;
}

@media (max-width: 768px) {
  .CampaignHomepageBanner {
    background-image: url(../pride-banner-mobile.png);
    height: auto;
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .CampaignHomepageBanner .copy {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .CampaignHomepageBanner .title {
    font-size: 24px;
  }

  .CampaignHomepageBanner p {
    font-size: 14px;
    word-spacing: -2.4px;
  }
  .CampaignHomepageBanner .subtitle {
    text-align: unset;
  }
  .CampaignHomepageBanner .event-banner-hat {
    display: none;
  }
  .CampaignHomepageBanner .event-banner-logo {
    width: 250px;
  }
}
