.NFTImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.NFTImage .pixel {
  display: block;
  width: 100%;
  height: auto;
}

.NFTImage .image-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.NFTImage .image {
  margin: auto;
  max-height: 100%;
}

.NFTImage .rarity-background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.NFTImage .ens-subdomain {
  display: flex;
  align-items: center;
  font-size: 28px;
  height: 100%;
  background-image: url('../../images/logo_dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #37333d;
  color: white;
}

.NFTImage .ens-subdomain > span {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px 16px 16px 16px;
}

.NFTImage .ens-subdomain.small > span {
  text-overflow: unset;
  padding: 10px 0px;
  font-size: 60%;
}
