.Order {
  display: flex;
  margin-bottom: 48px;
}

.Order .left {
  flex: 1 0 auto;
  display: flex;
}

.Order .right {
  flex: 1 0 auto;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.Order .left .ui.header:not(.sub) {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .Order,
  .Order .left,
  .Order .right {
    flex-direction: column;
  }

  .Order .left {
    margin-bottom: 24px;
  }

  .Order .right .ui.button {
    width: 100%;
  }

  .Order .right .ui.button + .ui.button {
    margin-left: 0px;
    margin-top: 24px;
  }
}
