.AssetsList .empty-actions {
  font-weight: bold;
  background: none;
  border: none;
  color: white;
  padding: 0;
  padding-top: 6px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.empty-state {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 24px;
}

.watermelon {
  background-image: url('../../images/noResults.svg');
  width: 66px;
  height: 66px;
  display: flex;
  margin: auto;
  margin-bottom: 16px;
  background-size: cover;
}

.AssetsList .empty .logo {
  background-image: url('../../images/empty-list.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.AssetsList .empty.empty-assets {
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text);
}

.AssetsList .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.AssetsList .empty .title {
  text-align: center;
}

.AssetsList .empty .subtitle {
  margin-bottom: 40px;
  text-align: center;
}

.AssetsList .empty.empty-list {
  background: var(--secondary);
  border-radius: 10px;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  justify-content: center;
}

@media (min-width: 768px) {
  .ui.massive.loader.asset-loader {
    position: sticky;
    top: 50vh;
    left: 0;
    margin: auto;
  }

  .transparentOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .ui.massive.loader.asset-loader {
    position: fixed;
  }
}
