.CampaignCollectiblesBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(./collectibles-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 153px;
  padding: 16px 48px;
}

.CampaignCollectiblesBanner .ui.header {
  color: black;
  margin-bottom: 4px;
}

.CampaignCollectiblesBanner p {
  color: black;
}

.CampaignCollectiblesBanner .copy {
  flex: 0 1 auto;
  margin-right: 20px;
  max-width: 400px;
}

.CampaignCollectiblesBanner .ui.button {
  flex: none;
}

@media (max-width: 768px) {
  .CampaignCollectiblesBanner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(./collectibles-banner-mobile.png);
    height: 276px;
  }
  .CampaignCollectiblesBanner .copy {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
