.CampaignCollectiblesBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../mvfw-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  padding: 16px 48px;
  flex-direction: column;
}

.CampaignCollectiblesBanner .ui.header {
  color: white;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.CampaignCollectiblesBanner p {
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.CampaignCollectiblesBanner .copy {
  flex: 0 1 auto;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.CampaignCollectiblesBanner .ui.button.browse-button {
  flex: none;
}

@media (max-width: 768px) {
  .CampaignCollectiblesBanner {
    background-image: url(../mvfw-banner-mobile.png);
    height: auto;
    padding: 25px 48px;
  }
  .CampaignCollectiblesBanner .copy {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .CampaignCollectiblesBanner .ui.header {
    font-size: 20px;
  }
  .CampaignCollectiblesBanner p {
    font-size: 14px;
  }
}
