.rarity {
  font-size: 13px;
  line-height: 18px;
  border-radius: 5px;
  padding: 4px 12px;
  font-weight: 600;
  height: 32px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
