/* .ParcelCoordinates .coordinates {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 110px);
  margin-top: 13px;
}

.ParcelCoordinates .coordinates a .coordinate {
  color: var(--text);
}

.ParcelCoordinates .coordinates a .coordinate:hover {
  background-color: var(--primary) !important;
}

.ParcelCoordinates .coordinates a:visited .coordinate {
  background-color: #242129 !important;
}

.ParcelCoordinates .coordinate {
  margin: 6px;
  cursor: pointer !important;
} */

.coordinates {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 110px);
  margin-top: 13px;
}

.coordinates a .coordinate {
  color: var(--text);
}

.coordinates a .coordinate:hover {
  background-color: var(--primary) !important;
}

.coordinates a:visited .coordinate {
  background-color: #242129 !important;
}

.coordinate {
  margin: 6px;
  cursor: pointer !important;
}
