.ParcelCoordinates .coordinates {
  flex-wrap: wrap;
  margin-top: 13px;
}

.ParcelCoordinates .coordinates a .coordinate {
  color: var(--text);
}

.ParcelCoordinates .coordinates a .coordinate:hover {
  /* background-color: rgba(var(--bluish-steel-raw), 0.8) !important; */
  background-color: #ff2d55 !important;
}

.ParcelCoordinates .coordinates a:visited .coordinate {
  background-color: #242129 !important;
}

.ParcelCoordinates .coordinate {
  margin: 6px;
  cursor: pointer !important;
  /* border: 1px solid #37333d; */
}
