.pillContainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
}

:global(.ui.header.mana.mana-label-icon) {
  filter: brightness(0) invert(1);
  font-size: 13px;
  margin: 0 5px 2px 10px;
  line-height: 13px;
}

:global(.ui.header.mana.mana-label-icon.mana-label-range) {
  margin: 0 5px 2px 5px;
  padding-left: 0;
}

:global(.ui.header.mana.mana-label-icon .symbol) {
  padding-right: 0;
}

.clearFilters {
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  align-items: center;
  display: flex;
  gap: 6px;
}

@media (max-width: 768px) {
  .pillContainer {
    margin-top: 0;
  }
}
