.pillContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
}

:global(.ui.header.mana.mana-label-icon) {
  filter: brightness(0) invert(1);
  font-size: 13px;
  margin: 0 5px 2px 10px;
  line-height: 13px;
}

:global(.ui.header.mana.mana-label-icon.mana-label-range) {
  margin: 0 5px 2px 5px;
  padding-left: 0;
}

:global(.ui.header.mana.mana-label-icon .symbol) {
  padding-right: 0;
}

@media (max-width: 768px) {
  .pillContainer {
    margin-top: 0;
  }
}
