.CoverElement .title {
  color: var(--secondary-text);
  margin-bottom: 8px;
  font-size: 15px;
}

.CoverElement .empty {
  height: 240px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  width: 100%;
}

.CoverElement img {
  border-radius: 10px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.CoverElement .image-container {
  position: relative;
}

.CoverElement .buttons {
  position: absolute;
  top: 16px;
  right: 16px;
}

.CoverElement .ui.button {
  min-width: unset;
  line-height: 1em;
  padding: 0px;
  width: 48px;
  height: 48px;
}
