.AssetImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.AssetImage .pixel {
  display: block;
  width: 100%;
  height: auto;
}

.AssetImage .image-wrapper {
  text-align: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.AssetImage .image {
  margin: auto;
  max-height: 100%;
  z-index: 0;
}

.AssetImage .rarity-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.AssetImage .ens-subdomain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 100%;
  background-image: url('../../images/logo_dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #37333d;
  color: white;
  flex-direction: column;
}

.AssetImage .ens-subdomain .name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px 16px 16px 16px;
}

.AssetImage .ens-subdomain.small .name {
  text-overflow: unset;
  padding: 10px 0px;
  font-size: 60%;
}

.AssetImage .ens-subdomain .monospace {
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  line-height: 24px;
  margin-top: 12px;
  color: var(--secondary-text);
  padding: 0px 16px 0px 16px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: lowercase;
  color: #cfcdd4;
}

.AssetImage .WearablePreview {
  position: absolute;
  opacity: 1;
  transition: opacity ease 0.2s;
}

.AssetImage .is-loading-wearable-preview .WearablePreview {
  opacity: 0;
}

.AssetImage .ui.loader.wearable-preview-loader:before {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.AssetImage .ui.loader.wearable-preview-loader:after {
  border-color: white transparent transparent !important;
}

.AssetImage .preview-toggle-wrapper {
  z-index: 1;
  position: absolute;
  right: 24px;
  top: 24px;
}

.AssetImage .preview-toggle-wrapper .preview-toggle {
  width: 40px;
  min-width: 40px !important;
  height: 32px;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transform: none !important;
}

.AssetImage .preview-toggle-wrapper .preview-toggle:first-child {
  border-radius: 8px 0px 0px 8px;
}

.AssetImage .preview-toggle-wrapper .preview-toggle:last-child {
  border-radius: 0px 8px 8px 0px;
}

.AssetImage .preview-toggle-wrapper .preview-toggle.preview-toggle-wearable {
  background-image: url(../../images/preview-wearable-icon.svg);
}

.AssetImage .preview-toggle-wrapper .preview-toggle.preview-toggle-avatar {
  background-image: url(../../images/preview-avatar-icon.svg);
}

.AssetImage .preview-toggle-wrapper .preview-toggle.is-active {
  background-color: var(--primary);
}

.AssetImage .preview-toggle-wrapper .preview-toggle.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.AssetImage .preview-toggle-wrapper .preview-toggle.is-disabled:hover {
  background-color: var(--secondary);
}

.AssetImage .asset-zoom-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12px;
  left: 12px;
}

.AssetImage .asset-zoom-controls > .ui.button.zoom-control {
  width: 32px;
  height: 32px;
  padding: 0;
  min-width: unset;
  background-color: rgba(0, 0, 0, 0.64) !important;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.AssetImage .asset-zoom-controls > .ui.button.zoom-control:hover {
  transform: none;
  background-color: var(--secondary) !important;
}

.AssetImage .asset-zoom-controls > .ui.button.zoom-control i.icon {
  margin: 0 !important;
  width: 16px;
  height: 16px;
}

.AssetImage .asset-zoom-controls > .ui.button.zoom-in-control {
  border-radius: 6px 6px 0px 0px;
}

.AssetImage .asset-zoom-controls > .ui.button.zoom-out-control {
  border-radius: 0px 0px 6px 6px;
}

.AssetImage .play-emote-control {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.AssetImage .listed-badge {
  z-index: 10;
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.AssetImage .badges {
  position: absolute;
  left: 10px;
  bottom: 11px;
  display: flex;
  flex-direction: row;
}

.AssetImage .coordinates {
  margin-right: 8px;
}

.AvailableForMintPopup {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #242129b2;
  border-radius: 10px;
  align-items: flex-start;
  padding: 29px 25px 20px;
  gap: 10px;
  width: 500px;
  bottom: 24px;
  position: absolute;
  right: 24px;
  height: 100px;
  transition: height 0.3s !important;
  overflow: hidden;
}

.AvailableForMintPopup .mintIcon {
  height: 24.72px;
}

.AvailableForMintPopup .goToItem {
  color: white;
}

.AvailableForMintPopup .popupPreview {
  display: flex;
  gap: 10px;
  width: 100%;
}

.ui.button.inverted.goToItemButton {
  width: 38px;
  height: 32px;
  min-width: unset;
  padding: 6px 7px 0px 0px;
}

.AvailableForMintPopup .title {
  font-size: 18px;
  font-weight: 500;
}

.AvailableForMintPopup .previewText {
  text-align: start;
  width: 100%;
}

.AvailableForMintPopup .popupExtraInformation {
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.AvailableForMintPopup:hover {
  height: 174px;
}

.AvailableForMintPopup:hover .popupExtraInformation {
  opacity: 1;
}

.AvailableForMintPopup .informationTooltip {
  width: 14px;
  height: 14px;
}

.AvailableForMintPopup .informationTitle {
  font-size: 14px;
  color: #cfcdd4;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 7px;
}

.AvailableForMintPopup .informationText {
  color: white;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 300;
}

.AvailableForMintPopup .informationBold {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: unset;
}

.AvailableForMintPopup .containerRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.AvailableForMintPopup .extraInfoContainer {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  justify-content: space-between;
}

.AvailableForMintPopup .stockText {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
}

.AssetImage .ui.button + .ui.button {
  margin-left: 0px;
}

@media (max-width: 768px) {
  .AssetImage .image {
    max-width: 100%;
  }
  .AvailableForMintPopup {
    right: 0;
    width: 100%;
    bottom: -110px;
    padding-top: 20px;
    height: 94px;
  }
  .AvailableForMintPopup .ui.button.inverted.goToItemButton {
    align-self: center;
  }
  .AssetImage {
    height: 400px;
  }
  .AssetImage.hasMintAvailable {
    margin-bottom: 100px;
  }
}
