.Sales {
}

.Sales .header-with-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.Sales .header-with-filter .ui.header {
  margin-bottom: unset;
}

.Sales .simple-stats {
  display: flex;
  gap: 12px;
}

@media (max-width: 768px) {
  .Sales .simple-stats {
    flex-direction: column;
  }
}

.Sales .simple-stat {
  flex: 1;
  display: flex;
  background-color: var(--secondary);
  min-height: 96px;
  border-radius: 10px;
  padding: 24px;
}

.Sales .simple-stat-icon {
  width: 48px;
  height: 48px;
  background-color: #37333d;
  border-radius: 50%;
  margin-right: 16px;
}

.Sales .simple-stat-value {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
}

.Sales .simple-stat-subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text);
}
