/* Header with filters */

.Sales .header-with-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.Sales .header-with-filter .ui.header {
  margin-bottom: unset;
}

/* Activity */

.Sales .activity {
  margin-top: 12px;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 24px;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}
