.Description .description-text {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
