.textContainer {
  margin-bottom: 32px;
  padding: 0 64px;
}

.modal:global(.ui.modal > .content) {
  margin-top: 4px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .textContainer {
    padding: 0;
  }

  :global(.ui.modal > .content) {
    font-size: 15px;
  }
}
