/* Dropdown */

.periodDropdown:global(.ui.dropdown) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(115, 110, 125, 0.4);
  border-radius: 6px;
  justify-content: space-between;
  height: 40px;
}

.trigger {
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.periodDropdown:global(.ui.header.dcl.mana){
  font-size: 17px;
}

.periodDropdown .triggerPlaceholder{
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  opacity: 0.5;
}

.mana:global(.ui.header){
  font-size: 17px;
}

/* Dropdown item */

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.period {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.until {
  color: #979797;
}

.periodDropdown:global(.ui.dropdown .menu){
  width: 100%;
}
