.MVMFBanner.banner-container {
  width: 100%;
  margin-bottom: 32px;
  color: black;
}

.MVMFBanner.banner-container .banner {
  display: flex;
  flex-direction: column;
  padding-top: 44.5px;
  padding-left: 72px;
  padding-right: 72px;
  color: white;
  border-radius: 10px;
}

.MVMFBanner.banner-container.small .banner {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-left: 32px;
}

.MVMFBanner.banner-container.small .banner .small-text-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.MVMFBanner.banner-container.big .button {
  margin-top: 20px;
  width: 310px;
}

.MVMFBanner.banner-container.small .button.announcement,
.MVMFBanner.banner-container.big .button.announcement {
  padding: 12px 16px;
  margin-top: 20px;
  width: 126px;
}

.MVMFBanner.banner-container.small .button.announcement {
  margin-top: 6px;
}

.MVMFBanner.banner-container.small .button {
  height: 44px;
}

.MVMFBanner.banner-container.small .banner {
  background-image: url('../../../images/mvmf-1064x100.gif');
  height: 100px;
  padding-right: 32px;
}

.MVMFBanner.banner-container.medium .banner {
  background-image: url('../../../images/mvmf22-banner-small.png');
  height: 150px;
}

.MVMFBanner.banner-container.big .banner {
  background-image: url('../../../images/mvmf-1064x276.gif');
  height: 316px;
  background-repeat: no-repeat;
  background-color: black;
}

.MVMFBanner.banner-container.big .title,
.MVMFBanner.banner-container.medium .title {
  font-size: 30px;
  line-height: 36.31px;
  font-weight: bold;
  margin-bottom: 6px;
}

.MVMFBanner.banner-container.big .subtitle,
.MVMFBanner.banner-container.medium .subtitle {
  font-size: 13px;
  line-height: 18px;
}

.MVMFBanner.banner-container.small .title {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.MVMFBanner.banner-container .event-badge-container {
  display: flex;
  align-items: center;
  background-color: #43404a;
  width: fit-content;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 11px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.MVMFBanner.banner-container .event-badge-container .icon {
  width: 12px;
  height: 12px;
  background-image: url(../../../images/sparkles.svg);
  background-size: cover;
  filter: brightness(0) invert(1);
  margin-right: 6px;
}

@media (max-width: 768px) {
  .MVMFBanner.banner-container.small .banner {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 24px;
  }
  .MVMFBanner.banner-container.medium .banner,
  .MVMFBanner.banner-container.big .banner {
    height: fit-content;
    padding: 24px;
  }
  .MVMFBanner.banner-container.small .button {
    margin-top: 12px;
  }
}
