.MenuItem {
  display: flex;
}

ul.Menu li.MenuItem,
ul.Menu li.MenuItem.active {
  cursor: pointer;
}

.MenuItem .content {
  display: inline-block;
  flex: 1 1 auto;
  align-self: center;
  line-height: 24px;
}

.MenuItem .ui.image {
  margin-right: 15px;
  vertical-align: middle;
}

.MenuItem .content .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text);
}

.NFTSidebar .MenuItem {
  border-radius: 6px;
}

.open .dropdown.icon {
  transform: rotate(180deg) translateY(-10px);
}
