.Order {
  margin-bottom: 24px;
}

.Order .column {
  flex-direction: row;
}

.Order .column.left {
  justify-content: flex-start;
}

.Order .column.right {
  justify-content: flex-end;
}

.Order .left .ui.header:not(.sub) {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .Order.dcl.row,
  .Order .dcl.column {
    flex-direction: column;
  }

  .Order .column,
  .Order .right .ui.button {
    width: 100%;
  }

  .Order .right .ui.button + .ui.button {
    margin-left: 0px;
    margin-top: 24px;
  }
}
