name: Build and release

on:
  push:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build-release:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webapp
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 18.x
          cache: "npm"
          cache-dependency-path: webapp/package-lock.json
      - name: Set package.json version
        uses: menduz/oddish-action@master
        with:
          cwd: ./webapp
          deterministic-snapshot: true
          only-update-versions: true
      - name: Install
        run: npm install --legacy-peer-deps
      - name: Build
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: npm run build
      - name: Publish
        uses: menduz/oddish-action@master
        with:
          cwd: ./webapp/build
          deterministic-snapshot: true
          registry-url: "https://registry.npmjs.org"
          access: public
          gitlab-token: ${{ secrets.GITLAB_CDN_DEPLOYER_TOKEN }}
          gitlab-pipeline-url: ${{ secrets.GITLAB_CDN_DEPLOYER_URL }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create Sentry release
        if: github.event_name == 'release' && github.event.action == 'created'
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          sourcemaps: ${{ github.workspace }}/webapp/build
          version: "${{ vars.SENTRY_RELEASE_PREFIX }}@${{ github.event.release.tag_name }}"
          url_prefix: "~"
